.main {
  margin-top: 20px;
}

.container {
  height: 100%;
}

router-outlet {
  position: relative;
}

app-preview {
  position: absolute;
  bottom: 0;
  horiz-align: center;
  vertical-align: bottom;
}
