<div class="row">
  <!--<nav class="col-md-8 col-md-offset-2">-->
    <ul class="nav nav-pills">
      <li routerLinkActive="active"><a [routerLink]="['signIn']">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['groundToAirport']">To Airport</a></li>
      <li routerLinkActive="active"><a [routerLink]="['parking']">Parking</a></li>
      <li routerLinkActive="active"><a [routerLink]="['checkIn']">Check In</a></li>
      <li routerLinkActive="active"><a [routerLink]="['boarding']">Boarding</a></li>
      <li routerLinkActive="active"><a [routerLink]="['onPlane']">Plane</a></li>
      <li routerLinkActive="active"><a [routerLink]="['baggageClaim']">Baggage Claim</a></li>
      <!--to add more routing, change app.routing.ts-->
    </ul>
  <!--</nav>-->
</div>
